<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JDecoder</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">JDecoder</span>
        </a>
    </header>
    <form>
        <div class="mb-3">
            <label for="javaInstallSelect" class="form-label">Java Installation</label>
            <select class="form-select" aria-label="Java Install Select" id="javaInstallSelect">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="javaCode" class="form-label">Java Code</label>
            <div class="alert alert-info" role="alert">
                1. One class with a "main" method.
            </div>
            <textarea class="form-control" id="javaCode" rows="30"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="/static/bootstrap.bundle.min.js"></script>
</body>
</html>
